0 3 * * SUN npm run start:clean-firebase >/proc/1/fd/1 2>/proc/1/fd/2
0 1 * * * npm run start:google-sync >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
